<ion-content [fullscreen]="true">
  <swiper-container
    class="swiper"
    [pagination]="true"
    (reachend)="lastSlide($event)"
  >
    <swiper-slide>
      <img src="./assets/logo.png" />
      <h2>Welcome</h2>
      <p>
        Vision Calling allows you to connect with your friends in an instant!
      </p>
    </swiper-slide>

    <swiper-slide>
      <img src="./assets/code.png" />
      <h2>How to use?</h2>
      <p>Just enter a code that you and your friend both know and voila!</p>
    </swiper-slide>

    <swiper-slide>
      <img src="./assets/call.png" />
      <h2>Why stop at 2?</h2>
      <p>
        As long as your friends use the same code as you, they can join too!
      </p>
    </swiper-slide>

    <swiper-slide>
      <img src="./assets/perms.png" />
      <h2>Permissions</h2>
      <p>We will need some permissions to get the video working.</p>
    </swiper-slide>

    <swiper-slide>
      <img src="./assets/logo.png" />
      <h2>Ready?</h2>
      <ng-container *ngIf="nativePlatform">
        <p *ngIf="videoPermissionStatus === 'denied'">
          Video Permission denied.
        </p>
        <p *ngIf="micPermissionStatus === 'denied'">Mic Permission denied.</p>
        <ng-container
          *ngIf="videoPermissionStatus === 'denied' || micPermissionStatus === 'denied'"
        >
          <ion-button (click)="tryAgainPerms()" expand="block" strong="true">
            Try again
          </ion-button>
        </ng-container>
        <ng-container
          *ngIf="videoPermissionStatus === 'granted' && micPermissionStatus === 'granted'"
        >
          <ion-button (click)="welcomeCompleted()" expand="block" strong="true">
            let's go <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!nativePlatform">
        <ion-button (click)="welcomeCompleted()" expand="block" strong="true">
          let's go <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </ng-container>
    </swiper-slide>
  </swiper-container>
</ion-content>
