<ion-content [fullscreen]="true">
  <div></div>
  <div id="video-wrapper" class="video-wrapper">
    <div class="local-video-container draggable">
      <div class="local-video-player" id="local-player">
        <div class="local-name-wrapper">
          <span class="user-name">My name {{ uid }}</span>
        </div>
      </div>
    </div>
    <ng-container *ngIf="rtc.rtcDetails.client.remoteUsers.length <= 2">
      <ng-container *ngFor="let user of rtc.rtcDetails.client.remoteUsers">
        <div class="remote-2-video-container">
          <div
            class="remote-2-video-player"
            [id]="'remote-user-player-'+ user.uid"
          >
            <div class="remote-2-name-wrapper">
              <span class="user-name">Remote name {{ user.uid }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="rtc.rtcDetails.client.remoteUsers.length > 2">
      <ng-container *ngFor="let user of rtc.rtcDetails.client.remoteUsers">
        <div class="remote-multi-video-container">
          <div
            class="remote-multi-video-player"
            [id]="'remote-user-player-'+ user.uid"
          >
            <div class="remote-multi-name-wrapper">
              <span class="user-name">Remote name {{ user.uid }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div id="controls">
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button>
        <ion-icon name="grid"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ng-container *ngIf="!videoMuted">
          <ion-fab-button (click)="videoMute()">
            <ion-icon name="videocam"></ion-icon>
          </ion-fab-button>
        </ng-container>
        <ng-container *ngIf="videoMuted">
          <ion-fab-button (click)="videoUnmute()">
            <ion-icon name="videocam-off"></ion-icon>
          </ion-fab-button>
        </ng-container>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ng-container *ngIf="!audioMuted">
          <ion-fab-button (click)="audioMute()">
            <ion-icon name="mic"></ion-icon>
          </ion-fab-button>
        </ng-container>
        <ng-container *ngIf="audioMuted">
          <ion-fab-button (click)="audioUnmute()">
            <ion-icon name="mic-off"></ion-icon>
          </ion-fab-button>
        </ng-container>
      </ion-fab-list>
    </ion-fab>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="end()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
