.video-wrapper {
  height: 100%;
  width: 100%;
}

.local-name-wrapper {
  background-color: #ea4723;
  color: black;
  text-align: center;
  order: 2;
  font-weight: 600;
}

.local-video-container {
  position: absolute;
  top: 50%;
  right: 4%;
  display: flex;
  justify-content: end;
  z-index: 50;
  width: 35%;
  min-height: 200px;
}

.local-video-player {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  width: 100%;
}

.local-video-player:first-child {
  border: 1px solid #ea4723;
}

.remote-2-video-container {
  display: flex;
  z-index: 1;
  height: 100%;
  justify-content: start;
}

.remote-2-video-player {
  width: 100%;
}

.remote-2-name-wrapper {
  font-weight: 600;
  background-color: #ea4723;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.remote-2-video-player:first-child {
  padding: 1px;
  border: 1px solid #ea4723;
}

.remote-multi-video-container {
  display: flex;
  z-index: 1;
  height: 100%;
  justify-content: start;
}

.remote-multi-video-player {
  width: 100%;
}

.remote-multi-name-wrapper {
  font-weight: 600;
  background-color: #ea4723;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.remote-multi-video-player:first-child {
  padding: 1px;
  border: 1px solid #ea4723;
}
