<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="input-group">
    <ion-list>
      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="floating"
          type="email"
          [(ngModel)]="email"
          placeholder="email@example.com"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Password"
          labelPlacement="floating"
          type="password"
          minlength="8"
          [(ngModel)]="password"
          placeholder="********"
        ></ion-input>
      </ion-item>
      <div style="float: right">
        <ion-chip [routerLink]="['/forgot-password']"
          >Forgot Password?</ion-chip
        >
      </div>
    </ion-list>
    <ion-button
      style="text-transform: none"
      (click)="login()"
      expand="block"
      strong="true"
      >Login</ion-button
    >
    <ion-button
      style="text-transform: none"
      (click)="routeToSignUp()"
      expand="block"
      strong="true"
      >Not a member yet? Sign up!
    </ion-button>
  </div>
  <ion-loading [isOpen]="loading" message="Logging in"></ion-loading>
</ion-content>
