<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list class="margin-top" id="pages-list">
          <ion-list-header>Vision Calling</ion-list-header>
          <ion-note>RTC Client to connect with other users</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ng-container *ngFor="let p of appPages; let i = index">
              <ion-item
                routerDirection="root"
                [routerLink]="[p.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  name="{{ p.icon }}"
                ></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ng-container>
            <ng-container *ngFor="let l of logoutPages; let i = index">
              <ion-item
                routerDirection="root"
                (click)="logout()"
                lines="none"
                detail="false"
                routerLinkActive="selected"
              >
                <ion-icon
                  aria-hidden="true"
                  slot="start"
                  name="{{ l.icon }}"
                ></ion-icon>
                <ion-label>{{ l.title }}</ion-label>
              </ion-item>
            </ng-container>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <ion-loading [isOpen]="loading" message="Loading"></ion-loading>
</ion-app>
